# Ignore version control and local IDE settings
.git
.gitignore
.idea/
.vscode/

# Ignore build artifacts (Maven and Gradle)
target/
build/
.gradle/

# Ignore local wrapper scripts and configuration
.mvn/
mvnw
mvnw.cmd
gradlew
gradlew.bat

# Ignore env
.env